# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage
.nyc_output/
*.timestamp-*.mjs
*.timestamp-*.js

# next.js
/.next/
/out/

# production
/build
dist/

# misc
.DS_Store
*.pem
*.key
*.crt
*.csr

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# local env files
.env*.local 
.env
.env.development
.env.test
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

certificates
.turbo

# local dev artefacts
lint_output.txt
tsc_output.txt
tsc_results.log
