@tailwind base;
@tailwind components;
@tailwind utilities;

h1.ce-header {
  font-size: 2.2rem;
}

h2.ce-header {
  font-size: 1.8rem;
}

h3.ce-header {
  font-size: 1.5rem;
}

.ce-paragraph {
  font-size: 1.2rem;
}

.codex-editor__redactor {
  padding-bottom: 0 !important;
}
