@tailwind base;
@tailwind components;
@tailwind utilities;

/* react-select-styles */
.react-select__control {
  outline: none;
}

.react-select__control {
  @apply rounded-md border-1 border-foreground-light bg-background-light transition-all dark:border-foreground-dark dark:bg-background-dark;
}

.react-select__control--is-focused {
  @apply border-brand-orange shadow-[0_0_0_2px_#FF5542];
}

/* basic styles */
.ce-header {
  background-color: #f2f2f2 !important;
}

.dark .ce-header {
  background-color: #191919 !important;
}

.ce-paragraph {
  background-color: #f2f2f2 !important;
}

.dark .ce-paragraph {
  background-color: #191919 !important;
}

.cdx-list {
  background-color: #f2f2f2 !important;
}

.dark .cdx-list {
  background-color: #191919 !important;
}

h1.ce-header {
  padding: 0 0 14px 0 !important;
  font-weight: 600;
  font-family: var(--font-dm_sans);
  font-size: 30px;
}

h2.ce-header {
  padding: 0 0 12px 0 !important;
  font-weight: 500;
  font-family: var(--font-poppins);
  font-size: 22px;
}

.ce-paragraph {
  padding: 0 0 10px 0 !important;
  font-size: 18px;
  font-weight: 300;
  font-family: var(--font-poppins);
  line-height: 28px !important;
}

li.cdx-list__item {
  padding: 0 !important;
  font-size: 18px;
  font-weight: 300;
  font-family: var(--font-poppins);
  line-height: 28px !important;
}

.codex-editor__redactor {
  padding-bottom: 0 !important;
}

.ce-block__content {
  max-width: none;
  margin: 0;
}

.ce-toolbar__content {
  max-width: none;
  margin: 0;
}

.ce-popover__overlay {
  background-color: transparent !important;
}

.ce-block--selected .ce-block__content {
  background: transparent !important;
}

/* list tool */

.cdx-list {
  padding: 0 0 12px 30px !important;
}

/* quote tool */

.cdx-quote {
  padding: 14px 16px !important;
  position: relative;
}

.cdx-quote::before {
  content: '❝';
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  opacity: 0.5;
  color: #2c2c2c;
}

.dark .cdx-quote::before {
  color: #d9d9d9;
}

.cdx-quote__text {
  padding: 0 !important;
  font-family: var(--font-poppins);
  font-size: 18px;
  border-radius: 0px !important;
}

.cdx-quote__caption {
  display: none;
}

/* code tool */

.ce-code {
  padding: 0 0 10px 0 !important;
  background: transparent !important;
}

.ce-code__textarea {
  min-height: 250px !important;
  padding: 12px 16px !important;
  border: none !important;
  background: #d9d9d9 !important;
  color: #1e1e1e !important;
  font-size: 16px !important;
  font-family: monospace !important;
  border-radius: 8px;
  resize: none !important;
}

.dark .ce-code__textarea {
  background: #2c2c2c !important;
  color: #fafafa !important;
}

/* image tool */

.image-tool {
  padding: 10px 0 !important;
  overflow: hidden;
}

.image-tool__image {
  margin: 0 !important;
  overflow: hidden;
  border-radius: 0 !important;
}

.image-tool__image img {
  border-radius: 10px;
}

.ce-popover-item[data-item-name='withBorder'] {
  display: none;
}

.ce-popover-item[data-item-name='withBackground'] {
  display: none;
}

/* toolbar: plus & setting button styles */
.ce-toolbar__plus svg,
.ce-toolbar__settings-btn svg {
  color: #2c2c2c;
}

.ce-toolbar__plus,
.ce-toolbar__settings-btn {
  background-color: #f2f2f2;
  border: 1px solid rgba(43, 43, 43, 0.25);
  border-radius: 8px;
}

.ce-toolbar__plus:hover,
.ce-toolbar__settings-btn:hover {
  background-color: #f2f2f2 !important;
  border: none;
}

.dark .ce-toolbar__plus svg,
.dark .ce-toolbar__settings-btn svg {
  color: #d9d9d9;
}

.dark .ce-toolbar__plus,
.dark .ce-toolbar__settings-btn {
  background-color: #191919;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 8px;
}

.dark .ce-toolbar__plus:hover,
.dark .ce-toolbar__settings-btn:hover {
  background-color: #191919 !important;
  border: none;
}

/* popover toolbar styles*/
.ce-popover {
  margin-top: 0.5rem;
  background-color: #f2f2f2;
  border: 1px solid rgba(43, 43, 43, 0.25);
}

.ce-popover-item__title {
  font-family: var(--font-dm_sans);
  font-size: 14px !important;
}

.ce-popover-item:hover {
  background-color: transparent !important;
}

.ce-popover-item:hover .ce-popover-item__title {
  opacity: 0.8;
}

.ce-popover-item--active {
  background-color: transparent !important;
}

.ce-popover-item--active .ce-popover-item__title {
  color: #ff5542;
}

.ce-popover-item__icon {
  width: 24px;
  height: 24px;
  background-color: #2c2c2c !important;
  border-radius: 8px;
}

.ce-popover-item__icon svg {
  width: 18px;
  color: #d9d9d9;
}

.ce-popover-item__title {
  color: #2c2c2c;
}

.ce-popover__nothing-found-message {
  color: #2c2c2c;
}

.cdx-search-field {
  background-color: rgba(242, 242, 243, 0.25);
  color: #2c2c2c;
}

.ce-popover-item--confirmation {
  background-color: #ed3232 !important;
}

.ce-popover-item--confirmation:hover .ce-popover-item__title {
  color: #2c2c2c;
}

.dark .ce-popover {
  background-color: #191919;
  border: 1px solid rgba(242, 242, 243, 0.25);
}

.dark .ce-popover-item:hover {
  background-color: transparent !important;
}

.dark .ce-popover-item--active {
  background-color: transparent !important;
}

.dark .ce-popover-item--active .ce-popover-item__title {
  color: #ff5542;
}

.dark .ce-popover-item__icon {
  width: 24px;
  height: 24px;
  background-color: #d9d9d9 !important;
  border-radius: 8px;
}

.dark .ce-popover-item__icon svg {
  width: 18px;
  color: #2c2c2c;
}

.dark .ce-popover-item__title {
  color: #d9d9d9;
}

.dark .ce-popover__nothing-found-message {
  color: #d9d9d9;
}

.dark .cdx-search-field {
  background-color: rgba(43, 43, 43, 0.25);
  color: #d9d9d9;
}

.dark .ce-popover-item--confirmation:hover .ce-popover-item__title {
  color: #d9d9d9;
}

/* inline toolbar*/

.ce-inline-toolbar,
.ce-inline-toolbar--showed {
  background-color: #f2f2f2;
  border: 1px solid rgba(43, 43, 43, 0.25);
}

.ce-inline-toolbar__buttons button:hover {
  background-color: transparent !important;
}

.ce-inline-toolbar__buttons button:hover svg {
  color: #ff5542;
}

.ce-inline-toolbar__dropdown:hover {
  background-color: transparent !important;
}

.ce-inline-toolbar__dropdown:hover .ce-inline-toolbar__dropdown-content {
  color: #ff5542;
}

.dark .ce-inline-toolbar,
.dark .ce-inline-toolbar--showed {
  background-color: #191919;
  border: 1px solid rgba(242, 242, 243, 0.25);
}

.dark .ce-inline-toolbar__dropdown:hover {
  background-color: transparent !important;
}

.dark .ce-inline-toolbar__dropdown:hover .ce-inline-toolbar__dropdown-content {
  color: #ff5542;
}

/* conversion toolbar */

.ce-conversion-toolbar,
.ce-conversion-toolbar--showed {
  background-color: #f2f2f2;
  border: 1px solid rgba(43, 43, 43, 0.25);
}

.ce-conversion-tool {
  font-family: var(--font-dm_sans);
}

.ce-conversion-tool--focused {
  background-color: transparent !important;
  color: #ff5542;
}

.ce-conversion-tool:hover {
  background-color: transparent !important;
  opacity: 0.8;
}

.ce-conversion-tool__icon {
  background-color: #2c2c2c !important;
  border-radius: 8px;
}

.ce-conversion-tool__icon svg {
  width: 18px;
  color: #d9d9d9;
}

.dark .ce-conversion-toolbar,
.dark .ce-conversion-toolbar--showed {
  background-color: #191919;
  border: 1px solid rgba(242, 242, 243, 0.25);
}

.dark .ce-conversion-tool__icon {
  background-color: #d9d9d9 !important;
  border-radius: 8px;
}

.dark .ce-conversion-tool__icon svg {
  color: #2c2c2c;
}

/* delimiter styles */

.ce-delimiter {
  padding: 12px 0 !important;
}

.ce-delimiter::before {
  content: '● ● ●' !important;
  font-size: 18px !important;
  line-height: normal !important;
  height: fit-content !important;
  letter-spacing: normal !important;
}

/* inline marker styles */
.cdx-marker {
  color: #191919;
}

.dark .cdx-marker {
  color: #d9d9d9;
}

/* selection styles */
.light ::selection {
  background-color: #191919;
  color: #d9d9d9;
}

.dark ::selection {
  background-color: #d9d9d9;
  color: #191919;
}

#editorjs_editor-container {
  padding: 0;
}

@media (max-width: 768px) {
  h1.ce-header {
    font-size: 28px;
  }

  h2.ce-header {
    font-size: 20px;
  }

  .ce-paragraph {
    font-size: 16px;
  }

  li.cdx-list__item {
    font-size: 16px;
  }

  .cdx-quote {
    padding: 14px 16px !important;
  }

  .cdx-quote__text {
    font-size: 16px;
  }

  .image-tool__image img {
    border-radius: 8px;
  }

  .ce-code__textarea {
    padding: 10px 14px !important;
    font-size: 14px !important;
  }

  .dark .ce-code__textarea {
    padding: 10px 14px !important;
    font-size: 14px !important;
  }

  .ce-popover {
    --offset: 5px;
    position: absolute;
    max-width: none;
    min-width: calc(100% - var(--offset) * 2);
    left: var(--offset);
    right: var(--offset);
    bottom: auto;
    top: 100%;
    border-radius: 10px;
    margin-top: 1rem;
  }

  .ce-delimiter {
    padding: 10px 0 !important;
  }

  .ce-delimiter:before {
    font-size: 16px !important;
  }

  .cdx-quote__text {
    font-size: 18px;
  }

  .cdx-quote__caption {
    font-size: 12px;
  }
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.rdp-vhidden {
  @apply hidden;
}

.image-tool__caption {
  display: none;
}

.cdx-quote__text {
  min-height: 0px !important;
  margin-bottom: 0px !important;
  border: 0px !important;
  box-shadow: none !important;
}

.cdx-quote__caption {
  border: 0px !important;
  box-shadow: none !important;
  padding-top: 0px !important;
}
