.cdx-list {
  margin: 0;
  padding-left: 20px;
  outline: none;
  list-style-position: outside;
  list-style-image: none;
}

ul.cdx-list {
  list-style-type: disc;
}

ol.cdx-list {
  list-style-type: decimal;
}

.cdx-list__item {
  display: list-item;
  padding: 4px 0;
  line-height: 1.6;
  outline: none;
  border: none;
}

.cdx-list__item-content {
  display: inline;
  outline: none;
  border: none;
  min-width: 1px;
}

.cdx-list__sublist {
  margin-top: 4px;
  padding-left: 20px;
  list-style-position: outside;
}
