.embed-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.yt-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: transparent;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 350px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.yt-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Center the whole Facebook container */
.fb-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.fb-container,
.fb-post,
.fb-container iframe {
  max-width: 320px;
  max-height: auto;
}

.embed-input-container {
  display: flex;
  align-items: left;
  justify-content: start;
}

.embed-input {
  background-color: transparent;
  padding: 10px 0px;
  width: 100%;
}

.embed-input:focus {
  outline: salmon;
  border-color: rgb(162, 28, 13);
  border: salmon;
}

body #app {
  background-color: transparent;
}
