.screen_overlay_linear {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    rgba(255, 70, 46, 0.3),
    rgba(255, 70, 46, 0.3) 5px,
    rgba(255, 70, 46, 0.2) 5px,
    rgba(255, 70, 46, 0.2) 20px
  );
  background-size: 100% 20px;
  animation: pan-overlay 25s infinite linear;
}

.radial_light {
  background: radial-gradient(
    50% 50% at 52% 52%,
    rgba(242, 242, 242, 0) 0%,
    #f2f2f2 100%
  );
}

.radial_dark {
  background: radial-gradient(
    50% 50% at 52% 52%,
    rgba(25, 25, 25, 0) 0%,
    #0f0f0f 100%
  );
}

@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 0% -100%;
  }
}
