.screen_overlay_linear {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    rgba(255, 70, 46, 0.25),
    rgba(255, 70, 46, 0.25) 5px,
    rgba(255, 70, 46, 0.15) 5px,
    rgba(255, 70, 46, 0.15) 20px
  );
  background-size: 100% 20px;
  animation: pan-overlay 25s infinite linear alternate-reverse;
}

.radial_light {
  background: radial-gradient(
    52% 52% at 52% 52%,
    rgba(255, 244, 237, 0) 0%,
    #fff4ed 100%
  );
}

.radial_dark {
  background: radial-gradient(
    52% 52% at 52% 52%,
    rgba(16, 16, 16, 0) 0%,
    #101010 100%
  );
}

@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 0% -100%;
  }
}
