.footer-component-container {
  background-color: white;
  color: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.footer-component-container-in {
  max-width: 71.875rem;
  margin: 0 auto;
}

h1 {
  font-size: 2.25rem;
  text-decoration: underline;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.footer-component-container p {
  margin-bottom: 1.25rem;
  font-size: 1rem;
}

@media only screen and (max-width: 64em) {
  .footer-component-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  h1 {
    font-size: 2rem;
    text-decoration: underline;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
}
