@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 320px) and (min-width: 0px) {
  .quill {
    height: 500px;
    width: 85%;
  }

  .quill .ql-container {
    max-height: calc(100% - 185px);
  }
}

@media only screen and (max-width: 599px) and (min-width: 321px) {
  .quill {
    height: 500px;
    width: 95%;
  }

  .quill .ql-container {
    max-height: calc(100% - 113px);
  }
}

@media (min-width: 600px) and (max-width: 700px) {
  .quill {
    height: 700px;
    width: 47%;
  }

  .quill .ql-container {
    max-height: calc(100% - 66px);
  }
}

@media (min-width: 700px) and (max-width: 899px) {
  .quill {
    height: 600px;
    width: 55%;
  }

  .quill .ql-container {
    max-height: calc(100% - 113px);
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  .quill {
    height: 600px;
    width: 45%;
  }

  .quill .ql-container {
    max-height: calc(100% - 90px);
  }
}

@media (min-width: 1201px) and (max-width: 1300px) {
  .quill {
    height: 700px;
    width: 45%;
  }

  .quill .ql-container {
    max-height: calc(100% - 66px);
  }
}

@media (min-width: 1301px) {
  .quill {
    height: 700px;
    width: 45%;
  }

  .quill .ql-container {
    max-height: calc(100% - 66px);
  }

}

@media (min-width: 2400px) {
  .quill {
    height: 1050px;
    width: 30%;
  }

  .quill .ql-container {
    max-height: calc(100% - 66px);
  }
}


.ql-toolbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.searchbtn{
  background-color: #333030;
}

/* .ce-block__content, .ce-toolbar__content { max-width:calc(100% - 80px) !important; } .cdx-block { max-width: 100% !important; } */