@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap&family=Noto+Sans:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  font-family: "Noto Sans", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul {
  transition: all 0.2ms ease;
}
.logo {
  font-family: 'Josefin Sans', cursive;
}
.navlinks {
  height: 100%;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.05rem;
}
.navlinks:hover {
  transition: all 0.25s ease;
  color: #000;
}
.links > a {
  color: rgb(0, 0, 0, 70%);
}
.links > a:hover {
  color: #000;
  text-decoration: underline;
}

.main-link {
  color: rgb(0, 0, 0, 70%);
  transition: all 0.25s ease;
}
.slide {
  animation: slide-up 0.5s ease forwards;
}
.slideLeft {
  animation: slide-left 0.5s ease forwards;
}
@keyframes slide-up {
  0% {
    transform: translateY(2.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(2.5rem);
  }
  100% {
    transform: translateX(0);
  }
}
section {
  width: 100%;
  padding: 4rem 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.--btn {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 6px 8px;
  margin: 0 5px 0 0;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.--btn:hover {
  transform: translateY(-2px);
}

.--btn-lg {
  padding: 8px 10px;
}

.--btn-block {
  width: 100%;
}

.--btn-primary {
  color: #fff;
  background: #007bff;
}
.--btn-secondary {
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
}
.--btn-danger {
  color: #fff;
  background: orangered;
}

.--btn-success {
  color: #fff;
  background: #28a745;
}

/* Heading */
h1,
h2,
h3,
h4 {
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-dark);
  margin-bottom: 1rem;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
} */

html {
  font-size: 13px;
}

/* body {
  font-family: var(--font-family);
} */
