@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blog-h1-text-size: 38px;
  --blog-h2-text-size: 32px;
  --blog-h3-text-size: 24px;
  --blog-p-text-size: 18px;
  --blog-list-text-size: 18px;
  --blog-quote-text-size: 18px;
  --blog-code-text-size: 18px;
  --blog-text-height: 1.6;
}

@media (max-width: 650px) {
  :root {
    --blog-h1-text-size: 36px;
    --blog-h2-text-size: 28px;
    --blog-h3-text-size: 22px;
    --blog-p-text-size: 16px;
    --blog-list-text-size: 16px;
    --blog-quote-text-size: 16px;
    --blog-code-text-size: 16px;
    --blog-text-height: 1.6;
  }
}

* {
  font-family: var(--font-inter);
}

/* react-select-styles */
.react-select__control {
  outline: none;
}

.react-select__control {
  @apply rounded-md border-1 border-foreground-light bg-background-light transition-all dark:border-foreground-dark dark:bg-background-dark;
}

.react-select__control--is-focused {
  @apply border-brand-orange shadow-[0_0_0_2px_#FF5542];
}

/* basic styles */
.ce-header {
  background-color: #fafafa !important;
}

.dark .ce-header {
  background-color: #121212 !important;
}

.ce-paragraph {
  background-color: #fafafa !important;
}

.dark .ce-paragraph {
  background-color: #121212 !important;
}

.cdx-list {
  background-color: #fafafa !important;
}

.dark .cdx-list {
  background-color: #121212 !important;
}

h1.ce-header {
  font-family: var(--font-dm_sans) !important;
  padding: 0 !important;
  margin: 0 0 30px !important;
  font-size: var(--blog-h1-text-size);
  font-weight: 600;
}

h2.ce-header {
  padding: 0 !important;
  margin: 24px 0 !important;
  font-size: var(--blog-h2-text-size);
  font-weight: 600;
}

h3.ce-header {
  padding: 0 !important;
  margin: 24px 0 !important;
  font-size: var(--blog-h3-text-size);
  font-weight: 600;
}

.ce-paragraph {
  padding: 0 !important;
  margin: 16px 0 !important;
  font-size: var(--blog-p-text-size);
  font-weight: 300;
  line-height: var(--blog-text-height) !important;
  opacity: 0.98;
}

.codex-editor__redactor {
  padding-bottom: 0 !important;
}

.ce-block__content {
  max-width: none;
  margin: 0;
}

.ce-toolbar__content {
  max-width: none;
  margin: 0;
}

.ce-popover__overlay {
  background-color: transparent !important;
}

.ce-block--selected .ce-block__content {
  background: transparent !important;
}

/* list tool */

.cdx-list {
  padding: 0 0 0 30px !important;
  margin: 0 0 30px 0 !important;
}

li.cdx-list__item {
  padding: 0 0 8px 0 !important;
  font-size: var(--blog-list-text-size);
  font-weight: 300;
  line-height: var(--blog-text-height) !important;
  opacity: 0.98;
}

/* quote tool */

.cdx-quote {
  padding: 12px 8px 12px 16px !important;
  margin: 0 0 30px !important;
  position: relative;
  background-color: #ededed5e;
  border-left: 3px solid #cccccc;
}

.dark .cdx-quote {
  background-color: #1e1e1e5e;
  border-left: 3px solid #3f3f3f;
}

.cdx-quote__text {
  padding: 0 !important;
  font-size: var(--blog-quote-text-size);
  font-weight: 300;
  line-height: var(--blog-text-height) !important;
  border-radius: 0px !important;
}

.cdx-quote__caption {
  display: none;
}

/* code tool */

.ce-code {
  padding: 0 !important;
  margin: 0 0 30px !important;
  background: transparent !important;
}

.ce-code__textarea {
  min-height: 250px !important;
  padding: 16px 20px !important;
  border: none !important;
  background: rgba(217, 217, 217, 0.5) !important;
  border: 1px solid #ededed !important;
  color: #1e1e1e !important;
  font-size: var(--blog-code-text-size) !important;
  line-height: 1.4;
  font-family: monospace !important;
  border-radius: 8px;
  resize: none !important;
}

.dark .ce-code__textarea {
  background: rgba(44, 44, 44, 0.5) !important;
  border: 1px solid #1e1e1e !important;
  color: #fafafa !important;
}

/* image tool */

.image-tool {
  padding: 0 !important;
  margin: 0 0 30px !important;
  overflow: hidden;
}

.image-tool__image {
  margin: 0 !important;
  overflow: hidden;
  border-radius: 0 !important;
}

.image-tool__image img {
  /* margin: auto; */
  max-height: 480px;
  object-fit: contain;
}

.ce-popover-item[data-item-name='withBorder'] {
  display: none;
}

.ce-popover-item[data-item-name='stretched'] {
  display: none;
}

.ce-popover-item[data-item-name='withBackground'] {
  display: none;
}

/* toolbar: plus & setting button styles */
.ce-toolbar__plus svg,
.ce-toolbar__settings-btn svg {
  color: #1e1e1e;
}

.ce-toolbar__plus,
.ce-toolbar__settings-btn {
  background-color: #fafafa;
  border: 1px solid rgba(43, 43, 43, 0.25);
  border-radius: 8px;
}

.ce-toolbar__plus:hover,
.ce-toolbar__settings-btn:hover {
  background-color: #fafafa !important;
  border: none;
}

.dark .ce-toolbar__plus svg,
.dark .ce-toolbar__settings-btn svg {
  color: #ededed;
}

.dark .ce-toolbar__plus,
.dark .ce-toolbar__settings-btn {
  background-color: #121212;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 8px;
}

.dark .ce-toolbar__plus:hover,
.dark .ce-toolbar__settings-btn:hover {
  background-color: #121212 !important;
  border: none;
}

/* popover toolbar styles*/
.ce-popover {
  margin-top: 0.5rem;
  background-color: #fafafa;
  border: 1px solid rgba(43, 43, 43, 0.25);
}

.ce-popover-item__title {
  font-family: var(--font-dm_sans);
  font-size: 14px !important;
}

.ce-popover-item:hover {
  background-color: transparent !important;
}

.ce-popover-item:hover .ce-popover-item__title {
  opacity: 0.8;
}

.ce-popover-item--active {
  background-color: transparent !important;
}

.ce-popover-item--active .ce-popover-item__title {
  color: #ff5542;
}

.ce-popover-item__icon {
  width: 24px;
  height: 24px;
  background-color: #1e1e1e !important;
  border-radius: 8px;
}

.ce-popover-item__icon svg {
  width: 18px;
  color: #ededed;
}

.ce-popover-item__title {
  color: #1e1e1e;
}

.ce-popover__nothing-found-message {
  color: #1e1e1e;
}

.cdx-search-field {
  background-color: rgba(242, 242, 243, 0.25);
  color: #1e1e1e;
}

.ce-popover-item--confirmation {
  background-color: #ed3232 !important;
}

.ce-popover-item--confirmation:hover .ce-popover-item__title {
  color: #1e1e1e;
}

.dark .ce-popover {
  background-color: #121212;
  border: 1px solid rgba(242, 242, 243, 0.25);
}

.dark .ce-popover-item:hover {
  background-color: transparent !important;
}

.dark .ce-popover-item--active {
  background-color: transparent !important;
}

.dark .ce-popover-item--active .ce-popover-item__title {
  color: #ff5542;
}

.dark .ce-popover-item__icon {
  width: 24px;
  height: 24px;
  background-color: #ededed !important;
  border-radius: 8px;
}

.dark .ce-popover-item__icon svg {
  width: 18px;
  color: #1e1e1e;
}

.dark .ce-popover-item__title {
  color: #ededed;
}

.dark .ce-popover__nothing-found-message {
  color: #ededed;
}

.dark .cdx-search-field {
  background-color: rgba(43, 43, 43, 0.25);
  color: #ededed;
}

.dark .ce-popover-item--confirmation:hover .ce-popover-item__title {
  color: #ededed;
}

/* inline toolbar*/

.ce-inline-toolbar,
.ce-inline-toolbar--showed {
  background-color: #fafafa;
  border: 1px solid rgba(43, 43, 43, 0.25);
}

.ce-inline-toolbar__buttons button:hover {
  background-color: transparent !important;
}

.ce-inline-toolbar__buttons button:hover svg {
  color: #ff5542;
}

.ce-inline-toolbar__dropdown:hover {
  background-color: transparent !important;
}

.ce-inline-toolbar__dropdown:hover .ce-inline-toolbar__dropdown-content {
  color: #ff5542;
}

.dark .ce-inline-toolbar,
.dark .ce-inline-toolbar--showed {
  background-color: #121212;
  border: 1px solid rgba(242, 242, 243, 0.25);
}

.dark .ce-inline-toolbar__dropdown:hover {
  background-color: transparent !important;
}

.dark .ce-inline-toolbar__dropdown:hover .ce-inline-toolbar__dropdown-content {
  color: #ff5542;
}

/* conversion toolbar */

.ce-conversion-toolbar,
.ce-conversion-toolbar--showed {
  background-color: #fafafa;
  border: 1px solid rgba(43, 43, 43, 0.25);
}

.ce-conversion-tool {
  font-family: var(--font-dm_sans);
}

.ce-conversion-tool--focused {
  background-color: transparent !important;
  color: #ff5542;
}

.ce-conversion-tool:hover {
  background-color: transparent !important;
  opacity: 0.8;
}

.ce-conversion-tool__icon {
  background-color: #1e1e1e !important;
  border-radius: 8px;
}

.ce-conversion-tool__icon svg {
  width: 18px;
  color: #ededed;
}

.dark .ce-conversion-toolbar,
.dark .ce-conversion-toolbar--showed {
  background-color: #121212;
  border: 1px solid rgba(242, 242, 243, 0.25);
}

.dark .ce-conversion-tool__icon {
  background-color: #ededed !important;
  border-radius: 8px;
}

.dark .ce-conversion-tool__icon svg {
  color: #1e1e1e;
}

/* delimiter styles */

.ce-delimiter {
  padding: 0 !important;
  margin: 30px 0 !important;
}

.ce-delimiter::before {
  margin: auto;
  height: 1px !important;
  width: 50%;
  background-color: #ccccccb7;
  content: '' !important;
  line-height: 0px !important;
  letter-spacing: 0px !important;
}

.dark .ce-delimiter::before {
  margin: auto;
  height: 1px !important;
  width: 50%;
  background-color: #3f3f3fb7;
  content: '' !important;
  line-height: 0px !important;
  letter-spacing: 0px !important;
}

/* inline marker styles */
.cdx-marker {
  color: #121212;
}

.dark .cdx-marker {
  color: #ededed;
}

/* selection styles */
.light ::selection {
  background-color: #121212;
  color: #ededed;
}

.dark ::selection {
  background-color: #ededed;
  color: #121212;
}

#editorjs_editor-container {
  padding: 0;
}

@media (max-width: 650px) {
  h1.ce-header {
    font-size: var(--blog-h1-text-size);
  }

  h2.ce-header {
    font-size: var(--blog-h2-text-size);
  }

  h3.ce-header {
    font-size: var(--blog-h3-text-size);
  }

  .ce-paragraph {
    margin: 0 0 18px 0 !important;
    font-size: var(--blog-p-text-size);
    line-height: var(--blog-text-height) !important;
  }

  li.cdx-list__item {
    font-size: var(--blog-list-text-size);
    line-height: var(--blog-text-height) !important;
  }

  .cdx-quote {
    padding: 10px 6px 10px 14px !important;
  }

  .cdx-quote__text {
    font-size: var(--blog-quote-text-size);
    line-height: var(--blog-text-height) !important;
  }

  .ce-code__textarea {
    padding: 14px 18px !important;
    font-size: var(--blog-code-text-size) !important;
  }

  .ce-popover {
    --offset: 5px;
    position: absolute;
    max-width: none;
    min-width: calc(100% - var(--offset) * 2);
    left: var(--offset);
    right: var(--offset);
    bottom: auto;
    top: 100%;
    border-radius: 8px;
    margin-top: 1rem;
  }

  .ce-delimiter {
    margin: 18px 0 !important;
  }

  .ce-delimiter:before {
    font-size: 12px !important;
  }

  .cdx-quote__text {
    font-size: 18px;
  }

  .cdx-quote__caption {
    font-size: 12px;
  }
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.rdp-vhidden {
  @apply hidden;
}

.image-tool__caption {
  display: none;
}

.cdx-quote__text {
  min-height: 0px !important;
  margin-bottom: 0px !important;
  border: 0px !important;
  box-shadow: none !important;
}

.cdx-quote__caption {
  border: 0px !important;
  box-shadow: none !important;
  padding-top: 0px !important;
}
